<div class="container">
  <h1>محصولات کمپانی {{ (company$ | async)?.title }}</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="companyId" type="hidden" />
    <app-input-text
      label="عنوان"
      formControlName="title"
      [errors]="[
        { type: 'required', message: 'این فیلد الزامیست' },
        { type: 'minlength', message: 'حداقل 3 کاراکتر وارد کنید' }
      ]"
    ></app-input-text>

    <app-input-datepicker
      label="تاریخ تولید"
      formControlName="createDate"
      [errors]="[{ type: 'required', message: 'این فیلد الزامیست' }]"
    ></app-input-datepicker>

    <app-input-radio
      *ngFor="let item of states; let i = index"
      name="productStates"
      [value]="item"
      [label]="item"
      formControlName="state"
      [inputId]="i"
    ></app-input-radio>

    <button class="btn" [disabled]="form.invalid" type="submit">ثبت</button>
  </form>
  <div class="data">
    <app-data-table
      *ngIf="tableConfig.data.length != 0"
      [config]="tableConfig"
    ></app-data-table>
    <p *ngIf="tableConfig.data.length == 0">موردی وجود ندارد.</p>
  </div>
</div>
