<label [attr.for]="getId()">{{ label }}</label>
<input
  class="form-control"
  type="text"
  [id]="getId()"
  [placeholder]="placeholder"
  [formControl]="ngControl?.control"
  [class.is-invalid]="
    ngControl?.invalid && (ngControl?.touched || ngControl?.dirty)
  "
  (input)="onInput.emit($event)"
  (blur)="onBlur.emit($event)"
  (focus)="onFocus.emit($event)"
/>
<ng-container *ngFor="let error of errors">
  <div
    class="error-text"
    *ngIf="
      ngControl?.hasError(error.type) &&
      (ngControl?.touched || ngControl?.dirty)
    "
  >
    {{ error.message }}
  </div>
</ng-container>
