<label [for]="getId()">{{ label }}</label>
<div class="select-container">
  <select
    class="form-control"
    [id]="getId()"
    [formControl]="ngControl?.control"
    [class.is-invalid]="
      ngControl?.invalid && (ngControl?.touched || ngControl?.dirty)
    "
  >
    <option value="" selected hidden *ngIf="placeholder">
      {{ placeholder }}
    </option>
    <option [value]="item" *ngFor="let item of items">
      {{ item }}
    </option>
  </select>
</div>
<ng-container *ngFor="let error of errors">
  <div
    class="error-text"
    *ngIf="
      ngControl?.hasError(error.type) && (ngControl?.touched || ngControl?.dirty)
    "
  >
    {{ error.message }}
  </div>
</ng-container>
