<label [attr.for]="getId()">{{ label }}</label>
<input
  class="form-control"
  autocomplete="false"
  theme="dp-material"
  class="form-control"
  type="text"
  mode="day"
  dpDayPicker
  [(ngModel)]="dateObject"
  [placeholder]="placeholder"
  (onChange)="_onChange($event)"
  [id]="getId()"
  [class.is-invalid]="
    ngControl?.invalid && (ngControl.touched || ngControl.dirty)
  "
/>
<ng-container *ngFor="let error of errors">
  <div
    class="error-text"
    *ngIf="
      ngControl.hasError(error.type) && (ngControl.touched || ngControl.dirty)
    "
  >
    {{ error.message }}
  </div>
</ng-container>
